/* Align Items to left */
#what .items {
  display: block;
  padding: 1rem;
}

#what .items .item {
  display: flex;
  text-align: left;
}

/* Position Icon */
#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

/* Smartphones */

@media (max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.75rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.5rem;
  }

  #showcase .showcase-content {
    margin-top: -40px;
  }

  #showcase .showcase-content .l-heading {
    font-size: 3rem;
  }

  #showcase .showcase-content .lead {
    font-size: 1.1rem;
  }

  #what .items {
    padding: 0;
  }

  #who {
    display: block;
  }

  #who .who-img {
    display: none;
  }

  #clients .items img {
    width: 80%;
  }

  #clients .items div:last-child {
    display: none;
  }

  #contact .container {
    padding: 0;
  }

  #contact .contact-form label {
    font-size: 1rem;
  }

  #contact .contact-form input,
  #contact .contact-form textarea {
    padding: 0.5rem;
  }
}
